apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: backend-pvc
  labels:
    app: hopkinsconnect
    component: backend
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: standard

